<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>阴阳师斗技阵容胜率查询</title>
    <meta name="keywords" content="阴阳师,斗技,阵容胜率,式神胜率,阵容推荐">
    <meta name="description" content="查询阴阳师斗技阵容和式神胜率、选用率等每周最新数据。">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128562086-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-128562086-3');
    </script>
</head>

<body>
<%= require("./views/loading.html") %>
<%= require("./views/modal.html") %>

<!-- main body -->
<div class="container">
    <%= require("./views/nav.html") %>
    <div class="tab-content" id="myTabContent">
        <%= require("./panels/win-rate.html") %>
        <%= require("./panels/rank.html") %>
        <%= require("./panels/recommand.html") %>
        <%= require("./panels/moretools.html") %>
        <%= require("./panels/tutorial.html") %>
    </div>
</div>
</body>

</html>
